@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Helpers</h1>
<br />
<form asp-action="CrearDato"> 
    @*Inicio del Formulario*@
    <div class="form-group row mb-4">   

        @* NOMBRE DE USUARIO  *@

            <div class="row mt-3">
                    <div class="col-sm-2">
                        <label>
                            Nombre
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("name_user", "", new { @class = "form-control" })
                    </div>

            </div>

        @* FIN NOMBRE DE USUARIO  *@

        @* CONTRASEÑA  *@

            <div class="row mt-3">
                <div class="col-sm-2">
                    @Html.Label("lblPassword", "Password")
                </div>
                <div class="col-sm-4">
                    @Html.Password("password", "", new { @class = "form-control" })
                </div>

            </div>
        @* FIN CONTRASEÑA  *@

        @* GENERO  *@   

            <div class="row mt-3"> 
                <div class="col-sm-2">
                    <label>
                        Genero
                    </label>
                    

                </div>
                <div class="col-sm-4">
                    @Html.RadioButton("genero", "Masculino", true, new { id = "id_dato" })
                    Masculino

                    @Html.RadioButton("genero", "Femenino", false, new { id = "id_dato" })
                    Femenino

                </div>

            </div>

         @* FIN GENERO *@
                         
         @* DIRECCION *@
            <div class="row mt-3">
                <div class="col-sm-2">
                    @Html.Label("lblDireccion", "Dirección")
                </div>
                <div class="col-sm-4">
                    @Html.TextArea("direction", "Ingrese su dirección",
                             new { @class = "form-control", id = "id_dato" })

                </div>

            </div>
         @* FIN DIRECCION *@

         @* PASATIEMPO *@
            <div class="row mt-3">
                <div class="col-sm-2">
                    <label>Pasatiempo</label>
                </div>
                <div class="col-sm-4">
                    <label><input type="checkbox" name="pasatiempo" value="Bailar" /> Bailar</label>
                    <label><input type="checkbox" name="pasatiempo" value="Correr" /> Correr</label>
                    <label><input type="checkbox" name="pasatiempo" value="Escalar" /> Escalar</label>
                    <label><input type="checkbox" name="pasatiempo" value="Peliculas" /> Películas</label>
                </div>
             </div> 
         

         @* FIN PASATIEMPO *@

         @* CURSO *@

            <div class="row mt-3">
                <div class="col-sm-2 ">
                    <label>
                        Cursos
                    </label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("id_cursos", ViewData["listaDeHabilidades"] as SelectList, "--Seleccionar curso----", new { @class = "form-control" })
                </div>

            </div>
         @* FIN CURSOS *@

         @* CONOCIMIENTOS  *@

            <div class="row mt-3">
                <div class="col-sm-2">
                    <label>Conocimientos</label>
                </div>
                <div class="col-sm-4">
                    <form method="post" action="/dato/GuardarConocimientos">
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <select name="conocimientos" id="conocimientos" multiple="multiple" class="form-control">
                                <option value="C#">C#</option>
                                <option value="ASP.NE">ASP.NET</option>
                                <option value="ASP.NET CORE">ASP.NET CORE</option>
                                <option value="Azure">Azure</option>
                                </select>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>

               
         @* FIN CONOCIMIENTOS *@
         
         @* GUARDADO *@
             <div class="row mt-4">
                <div class="form-group ">
                    <div class="col-sm-4" style="margin-top: 20px;">
                        <input type="submit" class="btn-primary" value="Guardar" />
                    </div>
                </div>

             </div>
         @* FIN GUARDADO *@


    </div>
    @*Fin del Formulario*@

</form>




