@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Helpers</h1>
<br />
<form asp-action="CrearDato"> 
    @*Inicio del Formulario*@
    <div class="form-group row mb-4">
        <div class="row mt-3">
            <div class="col-sm-2">
                <label>
                    Nombre
                </label>
            </div>
            <div class="col-sm-4">
                @Html.TextBox("name_user", "", new { @class = "form-control" })
            </div>


            <div class="col-sm-2">
                @Html.Label("lblPassword", "Password")
            </div>
            <div class="col-sm-4">
                @Html.Password("password", "", new { @class = "form-control" })
            </div>  
            
            <div class="row mt-3">
                <div class="col-sm-2">
                    <label>
                        Genero
                    </label>
                    

                </div>
                <div class="col-sm-4">
                    @Html.RadioButton("Genero", "Masculino", true, new { id = "masculino" })
                    Masculino

                    @Html.RadioButton("Genero", "Femenino", false, new { id = "femenino" })
                    Femenino

                </div>

                <div class="row mt-3">
                    <div class="col-sm-2">
                        @Html.Label("lblDireccion", "Dirección")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextArea("Direccion", "Ingrese su dirección",
                                 new { @class = "form-control", id = "idDireccion" })

                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <label>
                            Pasatiempo
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <lable>
                            Bailar
                        </lable>
                        @Html.CheckBox("Bailar")
                        <lable>
                            Correr
                        </lable>
                        @Html.CheckBox("Correr")
                        <lable>
                            Escalar
                        </lable>
                        @Html.CheckBox("Escalar", true)
                        <lable>
                            Peliculas
                        </lable>
                        @Html.CheckBox("Peliculas")

                    </div>


                </div>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <label>
                            Cursos
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @{
                            IEnumerable<string> strList = new List<string> { "POO", "TW", "MAT3", "FIS1" };
                        }
                        @Html.DropDownList("ddlCurso", new SelectList(strList,
                                 strList.FirstOrDefault()), "--Seleccionar curso ----")
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <label>
                           Habilidades
                        </label>
                    </div>
                    <div class="col-sm-4">
                       @Html.ListBox("Seleccionar habilidades", new List<SelectListItem>{
                                                                new SelectListItem {Text = "C #", Value = "1"},
                                                                new SelectListItem {Text = "ASP.NET", Value = "2"},
                                                                new SelectListItem {Text = "ASP.NET Core", Value = "3"},
                                                                new SelectListItem {Text = "Azure", Value = "4"}
                        })
                    </div>

                </div>



                   






            
        </div>

    </div>
    @*Fin del Formulario*@

</form>



